# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
build/
dist/
*.tsbuildinfo

# Misc
.DS_Store
*.pem

# Environment variables
.env
.env.local
.env.production.local
.env.test

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Mobile
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# iOS
mobile/ios/Pods/
mobile/ios/**/*.mode1v3
mobile/ios/**/*.mode2v3
mobile/ios/**/*.moved-aside
mobile/ios/**/*.pbxuser
mobile/ios/**/*.perspectivev3
mobile/ios/**/*sync/
mobile/ios/**/.sconsign.dblite
mobile/ios/**/.tags*
mobile/ios/**/.vagrant/
mobile/ios/**/DerivedData/
mobile/ios/**/Icon?
mobile/ios/**/Thumbs.db
mobile/ios/**/.build/

# Android
mobile/android/.gradle
mobile/android/build/
mobile/android/gradle
mobile/android/gradlew
mobile/android/gradlew.bat
mobile/android/local.properties
mobile/android/**/*.iml
mobile/android/**/.idea
mobile/android/**/captures
mobile/android/**/.externalNativeBuild
mobile/android/**/.cxx

# Backend
backend/dist/
backend/.env

# Database
*.sqlite
*.sqlite3
*.db
